<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>归档 | YoseR1cho的Blog</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="total_container">
    <!-- 侧边栏 -->
    <aside id="menu">
        <div class="menu_box ">
            <div class="wrap">
                <div class="avatar"></div>
                <h1><a href="#">myBlog</a></h1>
                <p>感谢关顾</p>
                <nav class="main-nav">
                    <ul>
                        <li class="home"><a href="/">首页</a></li>
                        <li class="classify"><a href="/classify">归档</a></li>
                        <li><a href="/post">发布文章</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </aside>
    <!-- /侧边栏 -->
    <!-- 版心 -->
    <div id="container">
        <div class="content">
            <h1 style="text-align: center;font-size: 3em;">待开发......</h1>
        </div>
    </div>
    <!-- /版心 -->
</div>
<script src="/js/deleteConfirm.js"></script>
</body>
</html>